<div class="overlay">
    <form [formGroup]="catForm" (ngSubmit)="onCreateCat()">
            <div>
                <label for="categoryName">Title</label>
                <input type="text" class="form-control" id="categoryName" placeholder="Enter category name" formControlName="title">
            </div>

            <div>
                <label for="categoryName">Description</label>
                <input type="text" class="form-control" id="categoryName" placeholder="Enter category name" formControlName="description">
            </div>

            <div>
                <label for="categoryName">Category</label>
                <input type="text" class="form-control" id="categoryName" placeholder="Enter category name" formControlName="category">
            </div>

            <div>
                <label for="categoryName">Target audience</label>
                <input type="text" class="form-control" id="categoryName" placeholder="Enter category name" formControlName="targetAudience">
            </div>

            <div>
                <label for="categoryName">difficulty level</label>
                <input type="text" class="form-control" id="categoryName" placeholder="Enter category name" formControlName="difficultyLevel">
            </div>

            <div>
                <button type="button" (click)="onCloseModal()">Close</button>
                <button type="submit">Submit</button>
            </div>

            <span *ngIf="catForm.invalid && catForm.touched">All fields are required!</span>
    </form>
</div>